* {
  margin: 0;
  padding: 0;
  color: white;
}

li {
  list-style: none;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  color: white;
}

nav {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-img {
  width: 4rem;
  margin: 0.5rem;
}

.navbar-logo,
.navbar-elements {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar-elements .active {
  background-color: red;
}

.navbar-elements {
  display: flex;
  align-items: stretch;
}

.navbar-elements a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
